.scan {
    font-family: 'Segoe UI', sans-serif;
    background-color: #fafafa;
    margin: 0;
    padding: 2rem;
}

.container {
    max-width: 100%;
    width: 50%;
    margin: auto;
}

.camera-section {
    background-color: #f2f2f2;
    border-radius: 12px;
    padding: 2rem;
    text-align: left;
    margin-bottom: 2rem;
}

.camera-section h3 {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    color: #616567;
}

.camera-section p {
    margin-top: -0.5rem;
    color: #B9BCC2;
}

.btn-group {
    margin-top: 1.5rem;
}

.btn {
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn-primary {
    background-color: #4f8bf9;
    color: white;
}

.btn-secondary {
    background-color: #e1e6f0;
    color: #4f4f4f;
    margin-left: 0.5rem;
}

.metrics {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem;
    border-top: 1px solid #ddd;
}

.metrics .column {
    flex: 1;
    padding: 0 1rem;
}

.metrics .column h4 {
    font-size: 0.9rem;
    color: #888;
}

.metrics .column p {
    font-size: 1.1rem;
    font-weight: 600;
}

#result {
    max-width: 100%;
    margin-top: 1rem;
    border-radius: 10px;
}