<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" type="image/X-UA-Compatible" href="/static/img/logo.svg" sizes="180x180">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/learn.css">
    <title>About Us</title>
</head>
<body>
    <header class="navbar">
        <div class="logo">
            <img src="/static/img/Logo.png">
        </div>
        <div class="nav-buttons">
            <button class="signUp"><a href="/templates/signUp.html">Sign Up</a></button>
            <button class="login"><a href="/templates/login.html">Login</a></button>
        </div>
    </header>

    <section class="learn">
        <div class="learn-text">
            <p>Know Our Team</p>
            <h3>About Us</h3>
        </div>
        
        <div class="learn-content" draggable="false">
            <img src="/static/img/learn.png" alt="">
        </div>
    </section>

    <section class="nav">
        <div class="navbar-menu">
            <nav class="navbar-menu-content">
                <button class="navbar-menu-button-1"><img src="/static/img/EcoVision.png" alt=""></button>
                <span class="navbar-menu-items">
                    <button>About Us</button>
                    <button>Dashboard</button>
                    <button>Contact Us</button>
                    <button>Learn</button>
                </span>
                <button class="highlight"><a href="scan&Sort.html">Scan & Sort</a></button>
            </nav>
        </div>
    </section>
    
    <footer class="footer">
        <div class="footer-left">
            <img src="/static/img/logo2.png" alt="" class="footer-logo">
        </div>

        <div class="footer-center">
            <div class="scan-box">
                <img src="/static/img/scan.png" alt="">
            </div>
        </div>
        <div class="footer-right">
            <button>About Us</button>
            <button>Contact Us</button>
            <button>Dashboard</button>
            <button>Learn</button>
        </div>
    </footer>
</body>
</html>